@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

body {
	background: #FFF;
	color: #848789;
	font: 400 18px/1.4 'Lato', Arial, sans-serif;
}

a {
	color: #282F35;
	text-decoration: none;
}

a:visited {
	color: fuchsia;
}

a:hover {
	color: #64C29E;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
	font: 400 18px/42px 'Lato', Arial, sans-serif;
	min-height: 42px;
	padding: 0 30px;
	border: 1px solid transparent;
	text-decoration: none !important;
	background-color: #64C29E;
	color: #FFF !important;
	text-transform: uppercase;
	letter-spacing: 3px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
	background-color: #519d80;
}

.ba-button--border-light {
	background-color: transparent;
	border: 2px solid #f3f3f3;
	color: #F3F3F3;
}

.ba-button--border-light:hover {
	border-color: #64c29e;
	color: #64c29e !important;
	background-color: transparent;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	border: 1px solid #d3d7d9;
	padding: 0 25px;
	color: #929292;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 42px;
	min-height: 42px;

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea,
select {
	outline: none;
	border-color: #64c29e;
}

textarea {
	line-height: 1.3;
	padding: 10px 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: #353738;
	text-transform: uppercase;
	margin: 0 0 18px;
}

p, ul, ol {
	margin: 0 0 18px;
}

.ba-header {
	height: 100vh;
	min-height: 300px;
	background: #F5F5FD url('../img/hero-bg.jpg') 50% 50px no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding-top: 50px;
}

.ba-main-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.ba-main-menu li {
	display: inline-block;
	vertical-align: middle;
}

.ba-main-menu li:before {
	content: '.';
}

.ba-main-menu li:first-child:before,
.ba-main-menu .ba-logo:before,
.ba-main-menu .ba-logo + li:before {
	content: '';
}

.ba-main-menu li a {
	display: inline-block;
	font-size: 14px;
	margin-left: 30px;
	margin-right: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #4D4959;
}

.ba-main-menu li a:hover {
	color: #64C29E;
}

.ba-container {
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 20px;
}

.ba-teaser {
	padding: 115px 0;
	background-color: #FBFBFB;
}

.ba-title {
	text-align: center;
	padding-top: 75px;
	background: 50% 0 no-repeat;
	margin-top: 0;
	font-size: 18px;
}

.ba-title-teaser {
	background-image: url(../img/cog-icon.png);
}

.ba-title-frame {
	background-image: url(../img/frame-icon.png);
}
.ba-title--mech {
	background-image: url(../img/mech-icon.png);
}
.ba-title--fork {
	background-image: url(../img/front-icon.png);
}

/* Bike section */
.ba-bike {
	position: relative;
}
.ba-bike__thumb {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	/*background: #FFF url(../img/left-box-1.jpg);*/
	background: 0 no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.ba-bike__thumb--right {
	left: auto;
	right: 0;
}
.ba-bike__thumb-logo {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: 50% no-repeat;
}
.ba-bike__body {
	padding: 40px 40px 80px;
	position: relative;
}
.ba-bike__body:last-child {
	margin-bottom: 0;
}
.ba-bike__body:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 40px;
	right: 0;
	margin: auto;
	width: 50px;
	height: 2px;
	background: #D7D7D7;
}
.ba-bike__body:after {
	position: absolute;
	content: "";
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid;
	border-color: #FFF transparent transparent;
}
.ba-bike__thumb--small {
	display: block;
	width: 100%;
}

/* Twitter section */

.ba-twitter {
	padding: 50px 0;
	text-align: center;
}

.ba-tweet__header {
	padding-top: 60px;
	background: url(../img/twitter-bird.png) no-repeat 50% 0;
}

.ba-tweet__user {
	font-weight: 700;
	font-size: 18px;
}

.ba-tweet__time {
	font-weight: 300;
	color: #848789;
}

.ba-tweet__time:before {
	content: "/ ";
}

.ba-tweet__text {
	font-style: italic;
	font-size: 24px;
	margin-top: 30px;
	line-height: 1.8;
}

/* Shop */

.ba-shop {
	background: #2A2C43;
}

.ba-product {
	position: relative;
}

.ba-product img {
	display: block;
	width: 100%;
}

.ba-product__overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(100, 194, 158, 0.8);
	text-align: center;
	font-size: 0;
	visibility: hidden;
	opacity: 0;

	transition: opacity .3s ease-in, visibility .3s ease-in;
}

.ba-product:hover .ba-product__overlay {
	visibility: visible;
	opacity: 1;
}

.ba-product__title {
	color: #FFF;
	font-weight: 700;
	font-size: 14px;
	background: url(../img/white-bike-icon.png) no-repeat 50% 0;
	padding-top: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 2px;

	transition: opacity .3s ease-in, transform .3s ease-in;
	opacity: 0;
	transform: translateY(-100%) rotate(360deg);
}

.ba-product:hover .ba-product__title {
	opacity: 1;
	transform: translateY(0) rotate(0deg);
}

.ba-discover-shop {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Subscription */

.ba-subscription {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ba-call-action-text {
	font: italic 24px/1.3 'Lato', Arial, sans-serif;
	margin: 15px 0 40px;
}

/* Footer */

.ba-footer {
	background: #F7F7F7;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 13px;
}

.ba-footer address {
	font-style: normal;
}

.ba-socials {
	text-align: center;
}

.ba-socials a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-indent: -999999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 50%;
	margin: 0 5px;
}

.ba-socials a:hover {
	opacity: .7;
}

.ba-tw {
	background-image: url(../img/twitter-icon.png);
}

.ba-fb {
	background-image: url(../img/facebook-icon.png);
}

.ba-pt {
	background-image: url(../img/pintrest-icon.png);
}

.ba-copyright {
	text-align: right;
	font-style: italic;
}

.ba-copyright p {
	margin: 0;
}

.ba-copyright img {
	vertical-align: middle;
}
